.main-accomodation {
    margin: 0 auto;
    width: 95%;
}

.section-top {
    display: flex;
    justify-content: space-between;
}

.section-bottom {
    display: flex;
    justify-content: space-between;
    gap: 75px;
}

.left-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #ff6060;
}

.left-div h2 {
    font-size: 36px;
}

.left-div p {
    font-size: 18px;
}

.right-div {
    display: flex;
    color: #ff6060;
    font-size: 18px;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.right-div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-div > div:last-child {
    display: flex;
    gap: 10px;
}

.right-div h2 {
    width: 70%;
}

.profile-picture {
    width: 64px;
    border-radius: 100%;
    object-fit: cover;
}

.tags {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 14px;
}

.tags li {
    background-color: #ff6060;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 115px;
    text-align: center;
}


@media all and (max-width: 480px) {
    .accomodation-img {
        height: 255px;
        margin: 1em auto;
    }
    .section-top {
        flex-wrap: wrap;
    }
    .section-bottom {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .left-div {
        margin-bottom: 15px;
    }
    .left-div h2 {
        font-size: 18px;
    }
    
    .left-div p {
        font-size: 14px;
    }
    .tags {
        font-size: 10px;
    }
    .right-div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
        font-size: 12px;
    }
    .right-div > div:last-child {
        gap: 5px;
    }
    .right-div h2 {
        width: 60%;
    }
}