.collapse-article {
    width: 80%;
    margin: 0 auto;
    color: #ff6060;
    font-size: 24px;
}

.collapse-title {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;
    background-color: #ff6060;
    border-radius: 10px;
    cursor: pointer;
}

.collapse-display {
    display: block;
    padding: 20px;
    margin-top: -5px;
    z-index: -1;
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
}

.collapse-hide {
    display: none;
}

.icon-open {
    transform: rotate(180deg);
}


@media all and (max-width: 480px) {
    .collapse-article {
        width: 100%;
        font-size: 13px;
    }
    .collapse-title, .collapse-display {
        border-radius: 5px;
    }
}