.gallery-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    gap: 50px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f7f7f7;
    border-radius: 25px;
}


@media all and (max-width: 768px) {
    .gallery-section {
        background-color: white;
        gap: 20px;
        padding: 0;
        border-radius: none;
    }
}