.slider {
    height: 415px;
    margin: 2em auto;
    width: 100%;
}

.slideshow {
    position: relative;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

.slideshow p {
    position: absolute;
    left: 50%;
    bottom: 10%;
    color: white;
    font-size: 18px;
}

.slideshow img {
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.slideshow img:hover {
    filter: brightness(85%);
}

.left-chevron {
    left: 25px;
}

.right-chevron {
    right: 25px;
}


@media all and (max-width: 480px) {
    .slider {
        height: 255px;
        margin: 1em auto;
    }
    .slideshow p {
        font-size: 14px;
    }
    .slideshow img {
        width: 5%;
    }
}